<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zxs.ssm.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="zxs.ssm.po.Users" >
    <id column="User_Id" property="userId" jdbcType="VARCHAR" />
    <result column="User_name" property="userName" jdbcType="VARCHAR" />
    <result column="User_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="User_rname" property="userRname" jdbcType="VARCHAR" />
    <result column="User_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="User_dep" property="userDep" jdbcType="VARCHAR" />
    <result column="User_position" property="userPosition" jdbcType="INTEGER" />
    <result column="User_idcard" property="userIdcard" jdbcType="VARCHAR" />
    <result column="User_cellphone" property="userCellphone" jdbcType="VARCHAR" />
    <result column="User_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="User_email" property="userEmail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    User_Id, User_name, User_password, User_rname, User_sex, User_dep, User_position, 
    User_idcard, User_cellphone, User_tel, User_email
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zxs.ssm.po.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from users
    where User_Id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from users
    where User_Id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="zxs.ssm.po.UsersExample" >
    delete from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zxs.ssm.po.Users" >
    insert into users (User_Id, User_name, User_password, 
      User_rname, User_sex, User_dep, 
      User_position, User_idcard, User_cellphone, 
      User_tel, User_email)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userRname,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, #{userDep,jdbcType=VARCHAR}, 
      #{userPosition,jdbcType=INTEGER}, #{userIdcard,jdbcType=VARCHAR}, #{userCellphone,jdbcType=VARCHAR}, 
      #{userTel,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zxs.ssm.po.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        User_Id,
      </if>
      <if test="userName != null" >
        User_name,
      </if>
      <if test="userPassword != null" >
        User_password,
      </if>
      <if test="userRname != null" >
        User_rname,
      </if>
      <if test="userSex != null" >
        User_sex,
      </if>
      <if test="userDep != null" >
        User_dep,
      </if>
      <if test="userPosition != null" >
        User_position,
      </if>
      <if test="userIdcard != null" >
        User_idcard,
      </if>
      <if test="userCellphone != null" >
        User_cellphone,
      </if>
      <if test="userTel != null" >
        User_tel,
      </if>
      <if test="userEmail != null" >
        User_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userRname != null" >
        #{userRname,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userDep != null" >
        #{userDep,jdbcType=VARCHAR},
      </if>
      <if test="userPosition != null" >
        #{userPosition,jdbcType=INTEGER},
      </if>
      <if test="userIdcard != null" >
        #{userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="userCellphone != null" >
        #{userCellphone,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zxs.ssm.po.UsersExample" resultType="java.lang.Integer" >
    select count(*) from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update users
    <set >
      <if test="record.userId != null" >
        User_Id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        User_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        User_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userRname != null" >
        User_rname = #{record.userRname,jdbcType=VARCHAR},
      </if>
      <if test="record.userSex != null" >
        User_sex = #{record.userSex,jdbcType=VARCHAR},
      </if>
      <if test="record.userDep != null" >
        User_dep = #{record.userDep,jdbcType=VARCHAR},
      </if>
      <if test="record.userPosition != null" >
        User_position = #{record.userPosition,jdbcType=INTEGER},
      </if>
      <if test="record.userIdcard != null" >
        User_idcard = #{record.userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="record.userCellphone != null" >
        User_cellphone = #{record.userCellphone,jdbcType=VARCHAR},
      </if>
      <if test="record.userTel != null" >
        User_tel = #{record.userTel,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null" >
        User_email = #{record.userEmail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update users
    set User_Id = #{record.userId,jdbcType=VARCHAR},
      User_name = #{record.userName,jdbcType=VARCHAR},
      User_password = #{record.userPassword,jdbcType=VARCHAR},
      User_rname = #{record.userRname,jdbcType=VARCHAR},
      User_sex = #{record.userSex,jdbcType=VARCHAR},
      User_dep = #{record.userDep,jdbcType=VARCHAR},
      User_position = #{record.userPosition,jdbcType=INTEGER},
      User_idcard = #{record.userIdcard,jdbcType=VARCHAR},
      User_cellphone = #{record.userCellphone,jdbcType=VARCHAR},
      User_tel = #{record.userTel,jdbcType=VARCHAR},
      User_email = #{record.userEmail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zxs.ssm.po.Users" >
    update users
    <set >
      <if test="userName != null" >
        User_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        User_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userRname != null" >
        User_rname = #{userRname,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        User_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userDep != null" >
        User_dep = #{userDep,jdbcType=VARCHAR},
      </if>
      <if test="userPosition != null" >
        User_position = #{userPosition,jdbcType=INTEGER},
      </if>
      <if test="userIdcard != null" >
        User_idcard = #{userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="userCellphone != null" >
        User_cellphone = #{userCellphone,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        User_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        User_email = #{userEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where User_Id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxs.ssm.po.Users" >
    update users
    set User_name = #{userName,jdbcType=VARCHAR},
      User_password = #{userPassword,jdbcType=VARCHAR},
      User_rname = #{userRname,jdbcType=VARCHAR},
      User_sex = #{userSex,jdbcType=VARCHAR},
      User_dep = #{userDep,jdbcType=VARCHAR},
      User_position = #{userPosition,jdbcType=INTEGER},
      User_idcard = #{userIdcard,jdbcType=VARCHAR},
      User_cellphone = #{userCellphone,jdbcType=VARCHAR},
      User_tel = #{userTel,jdbcType=VARCHAR},
      User_email = #{userEmail,jdbcType=VARCHAR}
    where User_Id = #{userId,jdbcType=VARCHAR}
  </update>
 
  <select id="selectByIdAndPass" resultMap="BaseResultMap" parameterType="zxs.ssm.po.Users" >
    select 
    <include refid="Base_Column_List" />
    from users
    where User_Id = #{userId,jdbcType=VARCHAR} and User_password = #{userPassword,jdbcType=VARCHAR}
  </select>
</mapper>