<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zxs.ssm.mapper.NotSignMapper" >
  <resultMap id="BaseResultMap" type="zxs.ssm.po.NotSign" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="bid_id" property="bidId" jdbcType="VARCHAR" />
    <result column="planSign" property="plansign" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="beizhu" property="beizhu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, bid_id, planSign, date, beizhu
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zxs.ssm.po.NotSignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NotSign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from NotSign
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from NotSign
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zxs.ssm.po.NotSignExample" >
    delete from NotSign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zxs.ssm.po.NotSign" >
    insert into NotSign (Id, bid_id, planSign, 
      date, beizhu)
    values (#{id,jdbcType=INTEGER}, #{bidId,jdbcType=VARCHAR}, #{plansign,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR}, #{beizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zxs.ssm.po.NotSign" >
    insert into NotSign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="bidId != null" >
        bid_id,
      </if>
      <if test="plansign != null" >
        planSign,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="beizhu != null" >
        beizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bidId != null" >
        #{bidId,jdbcType=VARCHAR},
      </if>
      <if test="plansign != null" >
        #{plansign,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zxs.ssm.po.NotSignExample" resultType="java.lang.Integer" >
    select count(*) from NotSign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update NotSign
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bidId != null" >
        bid_id = #{record.bidId,jdbcType=VARCHAR},
      </if>
      <if test="record.plansign != null" >
        planSign = #{record.plansign,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.beizhu != null" >
        beizhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update NotSign
    set Id = #{record.id,jdbcType=INTEGER},
      bid_id = #{record.bidId,jdbcType=VARCHAR},
      planSign = #{record.plansign,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      beizhu = #{record.beizhu,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zxs.ssm.po.NotSign" >
    update NotSign
    <set >
      <if test="bidId != null" >
        bid_id = #{bidId,jdbcType=VARCHAR},
      </if>
      <if test="plansign != null" >
        planSign = #{plansign,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxs.ssm.po.NotSign" >
    update NotSign
    set bid_id = #{bidId,jdbcType=VARCHAR},
      planSign = #{plansign,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      beizhu = #{beizhu,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>